a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    color: red;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
    background: var(--body-bg);
    z-index: 1;
}

.main__logo{
    width: 120px;
    height: 80px;
}

header .main__nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    overflow: visible;
}

li{
    overflow: hidden;
}

header .main__nav ul{
    display: flex;
    gap: 3rem;
    overflow: visible;
}

header .main__nav ul a{
    color: #8D8E90;
    overflow: visible;
}

.Nav__active{
    color: #FFF;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid var(--btn-bg);
}

.Btn__wrap{
    display: flex;
    align-items: center;
    gap: 2rem;
}


/* Nav BTN */

.navs__btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #03989E;
    visibility: hidden;
    opacity: 0;
}

.logoss{
    color: #03989E;
    text-transform: uppercase;
    display: none;
}

/* .navs__close{
    
} */

@media only screen and (max-width: 1024px) {
    header{
        justify-content: space-between;
        align-items: center;
        width: 95%;
        padding: 0.5rem 1rem;
    }

    .main__logo{
        display: none;
    }

    .logoss{
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        gap: 0.4rem;
        color: aqua;
    }

    .logoss > img{
        width: 35px;
        height: 35px;
    }

    .navs__close{
        visibility: visible;
    }

    .navs__btn {
        visibility: visible;
        opacity: 1;
    }

    header .navs__btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    ul{
        flex-direction: column;
    }

    li a{
        color: #FFF;
    }

    .main__nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.4rem;
        background-color: var(--body-bg);
        transition: 1s;
        transform: translateX(-100vw);
        z-index: 1;
        text-align: center;
    }

    .Btn__wrap{
        display: none;
    }

    .responsive_nav{
        transform: none;
    }
}