*{
    border: 0;
}

.Btn{
    background: var(--btn-bg);
    border-radius: 40px;
    padding: 14px 40px;
    color: var(--pry-text);
}

.BtnT{
    color: var(--white);
    background: none;
    border-radius: 40px;
    padding: 14px 40px;
    border: 1px solid var(--btn-bg);
}

.Btn a{
    color: var(--pry-text);
}

.BtnT a{
    color: var(--white);
}