.bigP{
    padding: 4rem 0;
    padding-bottom: 2rem;
}

.project__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/01’.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 80px;
    /* gap: 1rem; */
    padding: 5rem 0;
}

.project__wrap:nth-child(2){
    flex-direction: row-reverse;
    background: url(./images/02’.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 80px;
}

.project__wrap:nth-child(3){
    background: url(./images/03’.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 80px;
}

.project__wrap .project{
    width: 50%;
    text-align: center;
}

.project:nth-child(1){
    width: 45%;
}

.project .p_head{
    font-weight: 600;
    color: #FFF;
    font-size: 1.5rem;
}

.project .p_sub{
    font-weight: 500;
    color: #858585;
    line-height: 1.5;
}

.project__btn{
    padding-top: 0.5rem;
}

.project img{
    width: 90%;
}

@media (max-width: 640px) {
    .project__wrap{
        flex-direction: column-reverse;
    }

    .project__wrap:nth-child(2){
        flex-direction: column-reverse;
    }

    .project__wrap .project{
        width: 100%;
    }
}